ion-title{
    margin-top: 10px;
    color: orange;
    padding-left: 30px;
}

ion-button {
    border-radius: 5px;
    display: flex;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    --background: rgb(245, 188, 84);
}