<ion-content>
  <div class="titulo-register">
    <img src="../../assets/icon/Logotipo_Protectora_Animal_Delicado_Crema_y_Negro-removebg-preview.png" alt="">
    <ion-title>REGISTRARSE</ion-title>
  </div>
  <!-- Campo de entrada para el correo electrónico del usuario -->
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <!-- Campo de entrada para la contraseña del usuario -->
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button class="botonInicio" (click)="register()">Registrar</ion-button>
  <ion-button class="botonInicio" routerLink="/login">Ir a iniciar sesión</ion-button>

</ion-content>
